<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Full_todo_api.mapper.TodoMapper">
	<select id="findAll" resultType="com.example.Full_todo_api.entity.Todo">
		SELECT * FROM todos ORDER BY id
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todos (title,text,status,start_date,due_date) 
        VALUES (#{title},#{text},#{status},#{startDate},#{dueDate})
    </insert>
    <delete id="delete">
        DELETE FROM todos WHERE id = #{id}
    </delete>
    <update id="update">
    	UPDATE todos
    	SET title = #{title},
    		text = #{text},
    		status = #{status},
    		start_date = #{startDate},
    		due_date = #{dueDate}
    	WHERE id = #{id}
    </update>
</mapper>